/* @font-face 
js で取得かも
*/
body {
  /*font-family: 'Source Code Pro',monospace;
  src: local('Source Code Pro');*/
  font-family: 'Ubuntu Mono',monospace;
  src: local('Ubuntu Mono');
}

h1 {
  margin:5rem;
}
